{% extends "layout.html" %}
{% from "song.html" import song_item %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <ul class="list-group">
                {% for song in songs %}
                    {{ song_item(song) }}
                {% endfor %}
                </ul>
            </div>
        <div class="col-xs-6">
            THIS IS BODY, {{ name }}!
            <a class="btn btn-primary" href="{{ auth_url }}">Auth v. Youtube</a>
        </div>
        </div>
    </div>
{% endblock %}